@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(../fonts/Raleway.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    background: #B4D0E7;
}

header {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 2;
}

footer {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background: rgba(97, 8, 43, 0.50);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    color: #B4D0E7;
    font-family: "Raleway";
    font-size: 36px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}


a {
    color: #F64C72 !important;
    text-decoration: none
}


.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 10px;
    top: 10px
}

.name {
    align-self: center;
    width: 100%;
    height: 60px;
    left: 550px;
    top: 35px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    justify-content: center;

    color: #61082B;

    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 325px;
    height: 60%;
    left: 0px;
    top: 150px;
    border-right: 3px solid #61082B;
}

.nav_text {
    font-family: "Raleway";
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 35px;
    color: #A8E4A0;

}

.nav_text_foot {
    font-family: "Raleway";
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #A8E4A0;
}

.navigation ul {
    text-align: left;
    list-style: none;
    padding-top: 0%;
}

.navigation li {
    margin: 10px -30px;
    font-family: "Raleway";
    font-size: 32px;
    font-weight: bold;
}

.navigation li div{
    width: 310px;
    height: 100px;
    display: flex;
    align-items: center;
}

.navigation li div:hover{
    border-radius: 0px 15px 15px 0px;
    border: 1px solid rgba(97, 8, 43, 0.50);
}

.navigation li a {
    color: #61082B !important; /*ЦВЕТ ТЕКСТА МЕНЮ*/
    margin-left: 3%;
}



.foot{
    position: absolute;
    font-family: 'Raleway';
    font-size: 19px;
    text-align: center;
    color: #FFFFFF;
    bottom: 10px;
    left: 300px;
}

.home_text {
    position: absolute;
    left: 335px;
    top: 140px;
}

.home_text p {
    font-size: 15px;
    font-family: 'Raleway';
    color: #000;
    text-wrap: normal;
}

.home_text h3 {
    text-align: center;
    font-family: 'Raleway';
    color: #000;
}

.home_text li {
    font-family: 'Raleway';
    color: #000;
}

.home_text h1 {
    font-family: 'Raleway';
    width: 600px;
    color: #000;
    position: absolute;
    left: 400px;
    top: -15px
}

.home_img {
    position:absolute;
    width: 700px;
    height: 500px;
    right: 28%;
    top: 270px;
}

 .empty {
     height: 40px;
 }

.demand_graph_1 {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 20px;
    top: 0px;
}

.demand_graph_2 {
    width: 400px;
    height: 300px;
    left: 20px;
    position: absolute;
    top: 300px
}

.tables {
    display: flex;

    flex-direction: row;

    justify-content: flex-start;
    position: absolute;
    left: 500px;
    top: 50px
}

.tables table {
    color: #000;
}

.geography_graph_1 {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 20px;
    top: 0px;
}

.geography_graph_2 {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 20px;
}

.graph_title1 {
    font-family: "Raleway";
    position: absolute;
    z-index: 999999;
    color: #000;
    top: -45px;
    left: 120px;
    width: 300px;
}

.graph_title2 {
    font-family: "Raleway";
    position: absolute;
    z-index: 999999;
    color: black;
    left: 120px;
    top: 290px;
    width: 300px;
}

.tables_skills {
    display: flex;

    flex-direction: row;

    position: absolute;
    left: 150px;
    top: 50px;

}

.tables_skills table {
    color: #000;
}

.skills_graph {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 400px;
    top: 380px
}

.empty_skills {
    height: 750px;
}

.last_text {
    font-family: 'Raleway';
    width: 600px;
    color: #000;
    position: absolute;
    left: 100px;
    top: -15px
}

.LVtable {
    left: 300px;
    top: 200px;
    position: absolute;
    color: #000;
}

.LVtable p {
    color: #000;
}

.navigate_page {
    color: #FFFFFF;
}