{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-разработчик</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        {% for nav in navigation %}

            <p style="margin-top: 50px">Web-разработчик</p>
            <img class="logo" src="{% static 'images/logotip.png' %}">
            </div>
            </header>
            <main>
            <div class="body" style="height: 1700px;">
            <div class="navigation">
                <nav>
                    <ul>
                        <li>
                            <div><a href="/">{{ nav.first_item }}</a></div>
                        </li>
                        <li>
                            <div><a
                                    href={% url 'relevance' %}>{{ nav.second_item }}</a></div>
                        </li>
                        <li>
                            <div><a
                                    href={% url 'location' %}>{{ nav.third_item }}</a></div>
                        </li>
                        <li>
                            <div style="border-radius: 0px 15px 15px 0px; background: #61082B;"><a
                                    style="color: #B4D0E7 !important;"
                                    href={% url 'abilities' %}>{{ nav.fourth_item }}</a></div>
                        </li>
                        <li>
                            <div><a href={% url 'hh' %}>{{ nav.fifth_item }}</a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endfor %}

        <div class="home_text">
            {% for data in context %}
                <h1>{{ data.table_name }}</h1>
                <div class="tables_skills">
                    {{ data.data_table|safe }}
                </div>
                <img class="skills_graph" src={{ data.abilities_chart.url }}/>
                <div class="empty_skills"></div>
            {% endfor %}
        </div>
        </div>
        </main>
<footer>
    {% for nav in navigation %}
        <p>{{ nav.creator }}</p>
    {% endfor %}
</footer>
</body>
</html>