{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-разработчик</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <p style="margin-top: 50px">Web-разработчик</p>
        <img class="logo" src="{% static 'images/logotip.png' %}">
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation">
            <nav>
                <ul>
                    <li><div style="border-radius: 0px 15px 15px 0px; background: #61082B;"><a style="color: #B4D0E7 !important;" href="/">Главная</a></div></li>
                    <li><div><a href={% url 'relevance' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'location' %}>География</a></div></li>
                    <li><div><a href={% url 'abilities' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'hh' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text">
            <h3>Кто такой и чем занимается</h3>
            <p>Веб-разработчик создаёт сайты и веб-приложения. Его
основная задача — разрабатывать, поддерживать и развивать
клиентскую часть web-страниц — то, что видят пользователи, и
серверную — ту, которая доступна только разработчикам. Web-
разработчики используют различные языки программирования,
например JavaScript, PHP, Python и Ruby, для создания,
доработки сайтов и баз данных для хранения информации. Они
также занимаются настройкой сервера и оптимизацией сайта.</p>
            <p>Разработчика сайтов иногда путают с веб-дизайнером. Часто
они работают над одним проектом, но задачи у них разные.
Рассмотрим их на примере интернет-магазина:
</p>
            <p>1. «Веб-дизайнер разрабатывает концепцию, собирает макет,
подбирает цвета, шрифты, фотографии и другие
элементы.</p>
            <p>2. Веб-разработчик с помощью кода делает
функциональными элементы, которые разработал
дизайнер. Например, программирует анимацию,
изменение цвета кнопок при нажатии, формы для
заполнения. Подключает сайт к различным сервисам,
например к платёжной системе, CRM и системе
управления логистикой.</p>
            <h3 style="margin-top:600px">Навыки, необходимые специалисту</h3>
            <p>Главное для веб-разработчика — уметь писать понятный код,
который легко изменять, находить в коде ошибки и улучшать
его, проектировать высоконагруженные системы. То, как
развиты такие навыки, зависит от опыта специалиста. Опыт
связан и с ответственностью — например, сеньор отвечает не
просто за качество кода, но и за то, как этот код влияет на
бизнес. Рассмотрим основные знания и навыки джуна, мидла и
сеньора.</p>
            <h3>Современные технологии веб‑разработки</h3>
            <p>Людям нужны быстрые, удобные и красивые сайты. По данным Google,
пользователь закроет мобильную версию сайта, если она загружается
дольше трёх секунд, и продолжит пользоваться сайтом или приложением,
если они удобные. Веб-разработчики могут создавать такие сервисы, если
будут использовать подходящие языки, фреймворки, библиотеки и
технологии. Вот восемь из них:</p>
            <p>1. JavaScript — язык программирования, который разработчики
используют для создания интерактивных элементов на веб-страницах.
Например, галереи фотографий, которые можно листать, выпадающие
меню или кнопки, которые меняют внешний вид при наведении курсора.
Это единственный язык программирования для фронтенда, поэтому он
очень популярный ― для запуска программ в браузере нет альтернативы. </p>
            <p>2. HTML / CSS — две связанные технологии, которые используют для
определения структуры и стиля веб-страниц. Например, HTML может
определить, где на странице разместить текст, картинки и другие
элементы, а CSS добавляет визуальные элементы — цвет и шрифты.</p>
            <p>3. React, Angular и Vue.js — фреймворки JavaScript, которые разработчики
используют для создания пользовательских интерфейсов. Фреймворк – это
готовый код для решения типовых задач. Например, задать маршрут для
данных от сайта к серверу, обновить их или сохранить, если пользователь
переходит в другой раздел сайта или приложения. Пользователь не видит
все эти процессы, но разработчик должен их запрограммировать, чтобы
приложение работало, как задумано. Если писать код для таких задач на
обычном JavaScript, это займёт много времени и можно допустить в нём
ошибки. Во фреймворке прописаны правила и ограничения для кода,
поэтому он получается более однообразным, предсказуемым и с меньшим
количеством ошибок. Так писать приложения получается быстрее —
разработчик фокусируется на сути продукта, а не технических деталях.
</p>
            <p>4. TypeScript — это расширение JavaScript. С ним код более надёжный и
читабельный. </p>
            <p>5. Node.js — это среда выполнения JavaScript, которая позволяет
разработчикам создавать серверные приложения на этом языке. Например,
можно разработать сервер электронной почты, чтобы отправлять и
получать сообщения. Другой пример бэкенда на Node.js — социальная
сеть, где пользователи могут заполнить профиль и запостить фото с
подписью.</p>
            <p>6. Python — язык программирования, который поддерживает
многопоточность и может выполнять одновременно несколько задач. С
этой функцией веб-приложение можно усложнять и не бояться, что оно
будет зависать. У Python много библиотек и фреймворков, которые
помогают быстрее и проще писать код.
</p>
            <p>7. PostgreSQL — одна из лучших реляционных SQL баз данных. Её
используют для хранения, организации и управления большими объёмами
структурированных данных. Такую базу может внедрить онлайн-магазин
— чтобы хранить данные о клиентах, заказах, товарах и складах. </p>
            <p>8. MongoDB — одна из популярных нереляционных No-SQL баз данных,
часто используется в стеке с Node.js на бэкенде.</p>
            <div class="empty" style="height: 100px"></div>
            <img class="home_img" src="{% static 'images/WEB.jpg' %}"/>
        </div>
    </div>
</main>
<footer>
    <p>Кукарцева Дарья АТ-30&emsp;&emsp;</p>
</footer>
</body>
</html>